{% extends 'auth.html' %}

{% block main %}
  <form method="POST" action="{{ url_for('auth.login') }}" class="needs-validation" novalidate>
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else ""), placeholder=form.email.label.text) }}
      {% for error in form.email.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else ""), placeholder=form.password.label.text) }}
      {% for error in form.password.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
      {% endfor %}
    </div>

    <div class="mb-3 form-check">
        {{ form.remember_me(class="form-check-input" + (" is-invalid" if form.remember_me.errors else "")) }}
        {{ form.remember_me.label(class="form-check-label") }}
        {% for error in form.remember_me.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>
{% endblock %}
