{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

      {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}" />
      {% endblock %}

      <title>{{ title }}</title>
    {% endblock %}
  </head>

  <body>
    {% block content %}
      <header>
        <div class="py-4">
          <div class="py-3">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center w-100 gap-4">
                <h1 class="navbar-brand mb-0 h1"><a href="{{ url_for('main.welcome') }}" class="text-decoration-none link-dark">Multi-Vendor Marketplace</a></h1>

                <div class="ms-auto">
                  {% if request.endpoint != 'auth.login' %}
                    Already a member? <a href="{{ url_for('auth.login') }}">Login</a>
                  {% endif %}
                  {% if request.endpoint != 'auth.register' %}
                    Not a member? <a href="{{ url_for('auth.register') }}">Register</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
              <h2 class="h1 mb-4">{{ title }}</h2>

              {{ render_messages() }}

              {% block main %}

              {% endblock %}
            </div>
          </div>
        </div>
      </main>

      <footer></footer>
    {% endblock %}

    {% block scripts %}
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js') }}"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
    {% endblock %}
  </body>
</html>
